name: Go CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25.6'
      
    - name: Build
      run: go build -v src/cmd/server/main.go

    - name: Test
      run: go test -v ./...

    - name: Check formatting
      run: gofmt -l . && [ -z "$(gofmt -l .)" ]

    - name: Run linters
      run: |
        curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v2.7.2
        golangci-lint run
